@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
table {
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
}
strong {
	font-weight: bold;
}
ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
	margin: 0;
	padding: 0;
	color: #f2f2f2;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
}
/* Custom CSS
 * --------------------------------------- */
body {
	font-family: "Mircosoft JhengHei", "新細明體", "mingliu", Arial, Helvetica, sans-serif;
	color: #231815;
	font-size: 15px;
}
h1 {
	font-size: 6em;
}
p {
	font-size: 15px !important;
	line-height: 1.5;
	text-align: left;
}
/* Page
* ---------------------------------------  */

/* Style for our header texts
	* --------------------------------------- */
h1 {
	font-size: 5em;
	font-family: arial, helvetica "Mircosoft JhengHei";
	color: #fff;
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
	max-height: 100%;
	margin: 0 0 5px 0;
}
.lang-block.active {
	display: block !important;
}
.lang-button, .lang-button.active {
	margin-top: 120px!important;
}
.section .row {
	margin: 20px auto;
	padding: 10px;
	overflow: hidden;
}
.submit-button, .go-next, .lang-button {
	background-color: #ffffff;
	border: none;
	color: #919ca6;
	font-weight: bold;
	padding: 6px 20px;
	border-radius: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 5px 10px 20px 10px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}
.go-next, .lang-button.active {
	background-color: #dfd6cd;
	color: #ffffff;
}
.submit-button, .go-next {
	max-width: 90%;
	line-height: 16px;
	background-color: #599ea1;
	color: white;
	margin: 10px auto;
}
/* Centered texts in each section
	* --------------------------------------- */
.block {
	width: 100%;
	margin: 10px 0;
}
.block.center {
	width: 60%;
	margin: 20px auto 0 auto;
}
.news-block {
	width: 100%;
	margin: 0 0 10px 0;
	background-color: #fff;
}
.news-block.left {
	left: 150%;
	position: relative;
}
.news-block.right {
	right: 150%;
	position: relative;
}
.news-cat {
	width: 100%;
	height: 31px;
	margin: 0;
}
.news-block p {
	padding: 0 10px 10px 10px;/*color: #fff;*/
}
.news-block.left p {
	position: relative;
	right: 300%;
}
.news-block.right p {
	position: relative;
	left: 300%;
}
.news-block img {
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.news-block.active img {
	opacity: 1;
	-webkit-transition: all 0.8s ease 1s;
	-moz-transition: all 0.8s ease 1s;
	-ms-transition: all 0.8s ease 1s;
	-o-transition: all 0.8s ease 1s;
	transition: all 0.8s ease 1s;
}
.section {
	width: 100%;
	height: 100%;
	max-width: 800px;
	/*max-height: 600px;*/
	text-align: center;
	/*background: #dfd6cd;*/
	margin:0 auto !important;
	overflow-y: auto;
}
.header, .footer {
	display: block!important;
	overflow: hidden;
}
.btn {
	z-index: 999;
	width: 70px;
	height: 70px;
	position: relative;
	top: 85px;
	left: 0;
	background: url(../imgs/btn.png);
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: 5px 35px;
}
.line-break {
	background-color: #e60044;
	width: 100%;
	height: 2px;
	margin: 10px 0;
	display: none;
}
.section .content {
	width: calc(100% - 20px);
	margin: 0;
	padding: 10px;
	overflow-x: hidden;
	overflow-y: auto;
}
.footer {
	max-height: 75px;
	margin: 10px 0 0 0;
	padding: 0;
	bottom: 0;
}

@media only screen and (min-height: 1024px) {
p {
	font-size: 18px;
}
.news-cat {
	height: 40px;
}
}

@media only screen and (max-height: 736px) {
}

@media only screen and (max-height: 667px) {
}

@media only screen and (max-height: 568px) {
p {
	font-size: 12px
}
}

@media (max-width: 576px) {
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
/*
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
	*/
	
}

::-webkit-scrollbar {
 width: 8px;
 height: 8px;
}

::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 -webkit-border-radius: 10px;
 border-radius: 10px;
}

::-webkit-scrollbar-thumb {
 -webkit-border-radius: 10px;
 border-radius: 10px;
 background: #adadad;
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
 background: #adadad;
}
.form-radio {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	position: relative;
	background-color: #f1f1f1;
	color: #666;
	top: 10px;
	height: 30px;
	width: 30px;
	border: 0;
	border-radius: 50px;
	cursor: pointer;
	margin-right: 7px;
	outline: none;
}
.form-radio:checked::before {
	position: absolute;
	font: 13px/1 'Open Sans', sans-serif;
	left: 11px;
	top: 7px;
	content: '\02143';
	transform: rotate(40deg);
}
.form-radio:hover {
	background-color: #f7f7f7;
}
.form-radio:checked {
	background-color: #f1f1f1;
}
.form-checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	position: relative;
	background-color: #f1f1f1;
	color: #666;
	top: 10px;
	height: 30px;
	width: 30px;
	border: 0;
	cursor: pointer;
	margin-right: 7px;
	outline: none;
}
.form-checkbox-agree {
	/*-webkit-appearance: none;*/
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	/*position: relative;*/
	background-color: #f1f1f1;
	color: #666;
	top: 10px;
	height: 20px;
	width: 20px;
	border: 0;
	cursor: pointer;
	margin-right: 7px;
	outline: none;
}
.form-checkbox-agree:checked::before {
	position: absolute;
	font: 13px/1 'Open Sans', sans-serif;
	left: 11px;
	top: 7px;
	content: '\02143';
	transform: rotate(40deg);
}
.form-checkbox-agree:hover {
	background-color: #f7f7f7;
}
.form-checkbox-agree:checked {
	background-color: #f1f1f1;
}
.form-checkbox:checked::before {
	position: absolute;
	font: 13px/1 'Open Sans', sans-serif;
	left: 11px;
	top: 7px;
	content: '\02143';
	transform: rotate(40deg);
}
.form-checkbox:hover {
	background-color: #f7f7f7;
}
.form-checkbox:checked {
	background-color: #f1f1f1;
}
.add-on-textfield {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: inline-block;
	position: relative;
	background-color: #f1f1f1;
	color: #666;
	top: 10px;
	margin-bottom: 20px;
	width: 95%;
	height: 30px;
	padding-left: 15px;
	border: 0;
	cursor: pointer;
	outline: none;
}
label {
	font: 300 16px/1.7 'Open Sans', sans-serif;
	color: #666;
	cursor: pointer;
}
form p {
	font: 300 16px/1.7 'Open Sans', sans-serif;
	/*color: #666;*/
}
/*The progress element*/
.progress {
	margin: 10px 0;
}
.progress-main {
	background-color: #F2F2F2;
	/*This could be any colour*/
	width: 100%;
	height: 0.5em;
	margin-top: 0.75em;
}
		/*For firefox*/
		
.progress-main::-moz-progress-bar {
 background: #17BAB3;
}
		/*For webkit browsers*/
		
.progress-main::-webkit-progress-bar {
 background: #F2F2F2;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
}
 .progress-main::-webkit-progress-value {
 background: #17BAB3;
}
		/*For IE*/
		
		.progress-main::-ms-fill {
 background: #17BAB3;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
}
.progress-bar {
	margin-top: 0.95em;
	background-color: #F2F2F2;
	height: 0.3em;
}
.progress-value {
	background-color: #17BAB3;
	display: block;
	height: 0.3em;
}
.result .row {
	text-align: left;
}
h4 {
	color: #000;
	font-weight: bold;
	font-size: 18px;
	margin: 20px 0 10px 0;
	/*border-bottom: 1px solid #ccc;*/
}
